---
import Page from "@layouts/page";
---

<Page title="Stats">
	<h1>Stats</h1>
	<table class="sortable">
		<tr>
			<th>Rank</th>
			<th>Player Name</th>
			<th>Opp</th>
			<th>Matchup</th>
			<th>Start/Sit</th>
			<th>Proj. FPTS</th>
		</tr>

		<tr class="item">
			<td>1</td>
			<td>Patrick Mahomes II(KC)</td>
			<td>vs. DET</td>
			<td>⭐⭐⭐⭐</td>
			<td>A+</td>
			<td>24.6</td>
		</tr>
		<tr class="item">
			<td>2</td>
			<td>Jalen Hurts(PHI)</td>
			<td>at NE</td>
			<td>⭐⭐⭐</td>
			<td>A</td>
			<td>23.4</td>
		</tr>
		<tr class="item">
			<td>3</td>
			<td>Lamar Jackson(BAL)</td>
			<td>vs. HOU</td>
			<td>⭐⭐</td>
			<td>A</td>
			<td>22.4</td>
		</tr>
		<tr class="item">
			<td>4</td>
			<td>Josh Allen(BUF)</td>
			<td>at NYJ</td>
			<td>⭐⭐</td>
			<td>A</td>
			<td>21.5</td>
		</tr>
		<tr class="item">
			<td>5</td>
			<td>Justin Herbert(LAC)</td>
			<td>vs. MIA</td>
			<td>⭐⭐⭐</td>
			<td>A-</td>
			<td>20.6</td>
		</tr>
		<tr class="item">
			<td>6</td>
			<td>Justin Fields(CHI)</td>
			<td>vs. GB</td>
			<td>⭐⭐</td>
			<td>B+</td>
			<td>20.1</td>
		</tr>
		<tr class="item">
			<td>7</td>
			<td>Joe Burrow(CIN)</td>
			<td>at CLE</td>
			<td>⭐⭐⭐</td>
			<td>B+</td>
			<td>19.4</td>
		</tr>
		<tr class="item">
			<td>8</td>
			<td>Trevor Lawrence(JAC)</td>
			<td>at IND</td>
			<td>⭐⭐⭐⭐</td>
			<td>B</td>
			<td>19.1</td>
		</tr>
		<tr class="item">
			<td>9</td>
			<td>Tua Tagovailoa(MIA)</td>
			<td>at LAC</td>
			<td>⭐⭐⭐⭐</td>
			<td>B</td>
			<td>18.9</td>
		</tr>
		<tr class="item">
			<td>10</td>
			<td>Kirk Cousins(MIN)</td>
			<td>vs. TB</td>
			<td>⭐⭐⭐⭐</td>
			<td>B-</td>
			<td>18.8</td>
		</tr>
		<tr class="item">
			<td>11</td>
			<td>Dak Prescott(DAL)</td>
			<td>at NYG</td>
			<td>⭐⭐⭐</td>
			<td>B-</td>
			<td>18.6</td>
		</tr>
		<tr class="item">
			<td>12</td>
			<td>Deshaun Watson(CLE)</td>
			<td>vs. CIN</td>
			<td>⭐⭐⭐</td>
			<td>C+</td>
			<td>18.5</td>
		</tr>
		<tr class="item">
			<td>13</td>
			<td>Geno Smith(SEA)</td>
			<td>vs. LAR</td>
			<td>⭐⭐⭐</td>
			<td>C+</td>
			<td>18.4</td>
		</tr>
		<tr class="item">
			<td>14</td>
			<td>Daniel Jones(NYG)</td>
			<td>vs. DAL</td>
			<td>⭐</td>
			<td>C+</td>
			<td>18.2</td>
		</tr>
		<tr class="item">
			<td>15</td>
			<td>Jared Goff(DET)</td>
			<td>at KC</td>
			<td>⭐⭐⭐⭐⭐</td>
			<td>C</td>
			<td>17.8</td>
		</tr>
		tr class="item">
			<td>16</td>
			<td>Russell Wilson(DEN)</td>
			<td>vs. LV</td>
			<td>⭐⭐⭐⭐⭐</td>
			<td>C-</td>
			<td>17.4</td>
		</tr>
		<tr class="item">
			<td>17</td>
			<td>Anthony Richardson(IND)</td>
			<td>vs. JAC</td>
			<td>⭐⭐⭐⭐</td>
			<td>C-/td>
			<td>17.0</td>
		</tr>
		<tr class="item">
			<td>18</td>
			<td>Aaron Rodgers(NYJ)</td>
			<td>vs. BUF</td>
			<td>⭐⭐⭐</td>
			<td>C-</td>
			<td>16.6</td>
		</tr>
		<tr class="item">
			<td>19</td>
			<td>Derek Carr(NO)</td>
			<td>vs. TEN</td>
			<td>⭐⭐⭐</td>
			<td>D+</td>
			<td>16.2</td>
		</tr>
	</table>
</Page>
