---
import Page from "@layouts/page";
---

<Page title="About me">
	<h1>About me</h1>
	<table class="sortable">
		<tr>
			<th>Player name</th>
			<th>position</th>
			<th>salary</th>
		</tr>

		<tr class="item">
			<td>user:0001</td>
			<td>UK</td>
			<td>Melissa</td>
		</tr>
		<tr class="item">
			<td>user:0002</td>
			<td>France</td>
			<td>$3000</td>
		</tr>
		<tr class="item">
			<td>user:0003</td>
			<td>San Francisco</td>
			<td>$2000</td>
		</tr>
		<tr class="item">
			<td>user:0004</td>
			<td>Canada</td>
			<td>$4000</td>
		</tr>
		<tr class="item">
			<td>user:0005</td>
			<td>Christchurch</td>
			<td>$1000</td>
		</tr>

	</table>
</Page>
